html, body {
	height: 100%;
}

body {
	background: white;
	
	font-family: 'Open Sans', sans-serif;
	color: #666666;
}

a {
	text-decoration: none;
}

a:hover {
	transition: all 0.2s ease 0s;
	text-decoration: underline;
}

#registry {
	margin: 0;
}

table {
	table-layout: fixed;
	width: 100%;
}

td {
	width: 20%;
	height: 35px;
}

button {
	width: 100%;
	height: 100%;
	
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

button:hover {
	text-decoration: none;
}

.button:active {
	position: relative;
	top: 2px;
}

.gray {
	color: #666666;
	border: solid 1px #999999;
	
	background: linear-gradient(#DDDDDD 5%, white);
}

.gray:hover {
	background: #DDDDDD;
}

.gray:active {
	color: #666666;
	
	background: linear-gradient(white 30%, #DDDDDD);
}

h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: capitalize;
	letter-spacing: 5px;
	font-size: 300%;
	text-align: center;
}

/*------------------------------------ Table Referencing ----------------------------------------*/

#row1{
	margin: 0;
}

#row2{
	margin: 0;
}

#row3{
	margin: 0;
}

#row4{
	margin: 0;
}

#row5{
	margin: 0;
}

#row6{
	margin: 0;
}

#row7{
	margin: 0;
}

#row8{
	margin: 0;
}

#nav{
	margin: 0;
}