
/*-------------------------------------- Structure Styles --------------------------------------*/

* {
	margin: 0;
}

html, body {
	height: 100%;
}

body {
	background: linear-gradient(white 20%, #CCFFFF);
	background-attachment: fixed;
	
	font-family: 'Open Sans', sans-serif;
	color: #666666;
}

section.header {
	min-height: 10%;
	
	text-align: center;
	text-transform: capitalize;
}

section.links {
	min-height: 10%;
	margin: 0px 200px;
	clear: both;
	
	text-align: center;
	text-transform: uppercase;
}

div.primary-wrapper {
	background-color: #006655;
}

div.primary-links {
	padding-left: 1.5em;
	padding-right: 1.5em;
}

section.content {
	min-height: 70%;
	margin-bottom: 40px;
}

section.content.sidebar {
	min-height: 98%;
	width: 16%;
	margin: 0 2% 2% 2%;
	float: left;
	
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
}

section.content.sidebar > p {
	margin-top: 20px;
	text-align: center;
}

section.content.main {
	min-height: 100%;
	width: 60%;
	margin-right: 20%;
	float: right;
}

section.footer {
	min-height: 10%;
	clear: both;
	
	background-color: #006655;
	
	color: white;
	text-align: center;
}

.height-push {
	height: 15px;
}

.height-push-double {
	height: 30px;
}

/*--------------------------------------- Element Styles ---------------------------------------*/
	
h1 {
	font-family: 'Oswald', sans-serif;
	text-transform: capitalize;
	letter-spacing: 5px;
	font-size: 300%;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	text-align: left;
	text-transform: lowercase;
	letter-spacing: 3px;
	font-size: 200%;
	margin-bottom: 0.5em;
}

h3 {
	text-align: left;
	letter spacing: 2px;
	font-size: 140%
	margin-bottom: 0.2em;
}

p {
	margin-top: 0;
	margin-bottom: 1.3em;
}

ol {
	margin-bottom: 1.3em;
}

a {
	text-decoration: none;
	color: inherit;
}

section.content.main a {
	color: #FF3300;
	text-decoration: none;
}

section.content.main a:hover {
	transition: all 0.2s ease 0s;
	text-decoration: underline;
	color: #666666;
	background-color: #CCFFFF;
}

section.content.sidebar a:hover {
	text-decoration: underline;
}

a.primary {
	font-family: 'Oswald', sans-serif;
	letter-spacing: 2px;
	color: white;
	text-decoration: none;
	font-weight: 600;
	
	padding-left: 1.5em;
	padding-right: 1.5em;
}

a.primary:hover {
	transition: all 0.2s ease 0s;
	background-color: #008877;
}

a.footer {
	text-decoration: underline;
	color: white;
}

a.footer:hover {
	transition: all 0.2s ease 0s;
	text-decoration: underline;
	color: white;
	background-color: #008877;
}

a.footer.image {
	text-decoration: none;
}

a.footer.image:hover {
	text-decoration: none;
	background-color: #006655;
}

img {
	margin-left: 20px;
	margin-right: 20px;
}

blockquote {margin: 1.5em; font-style: italic;}
strong {font-weight: 800;}
em {font-style: italic;}